In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("RAWFULL_WaterTankData.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55707 entries, 0 to 55706
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BOROUGH             55707 non-null  object
 1   ADDRESS             55707 non-null  object
 2   ZIP                 55629 non-null  float64
 3   TANK_NUM            55707 non-null  int64
 4   INSPECTION_DATE     55685 non-null  object
 5   INTERNAL_STRUCTURE  55610 non-null  object
 6   EXTERNAL_STRUCTURE  55649 non-null  object
 7   SEDIMENT            55605 non-null  object
 8   BIOLOGICAL_GROWTH   55604 non-null  object
 9   DEBRIS_INSECTS      55603 non-null  object
 10  RODENT_BIRD         55645 non-null  object
 11  COLIFORM            55571 non-null  object
 12  ECOLI               55571 non-null  object
 13  MEET_STANDARDS      11127 non-null  object
 14  LATITUDE            55602 non-null  float64
 15  LONGITUDE           55602 non-null  float64
 16  COMMUNITY_BOARD     55602 non-null  float64
 17  COUNCIL_DISTRICT    55602 non-null  float64
 18  CENSUS_TRACT        55602 non-null  float64
dtypes: float64(6), int64(1), object(12)
memory usage: 8.1+ MB

In [4]:
## 90 tanks with biological growth
df.query("BIOLOGICAL_GROWTH == 'A'")

,BOROUGH,ADDRESS,ZIP,TANK_NUM,INSPECTION_DATE,INTERNAL_STRUCTURE,EXTERNAL_STRUCTURE,SEDIMENT,BIOLOGICAL_GROWTH,DEBRIS_INSECTS,RODENT_BIRD,COLIFORM,ECOLI,MEET_STANDARDS,LATITUDE,LONGITUDE,COMMUNITY_BOARD,COUNCIL_DISTRICT,CENSUS_TRACT
390,MANHATTAN,1220 Fifth Avenue,10029.0,1,5/5/21,N,N,A,A,N,N,N,N,NaN,40.792438,-73.952448,11.0,8.0,168.0
593,MANHATTAN,812 Fifth Avenue,10065.0,1,4/21/15,N,N,A,A,A,A,N,N,NaN,40.766378,-73.971459,8.0,4.0,11401.0
605,MANHATTAN,47 East 88th Street,10128.0,1,4/20/21,N,N,A,A,N,N,N,N,NaN,40.781980,-73.957410,8.0,4.0,15002.0
1619,MANHATTAN,120 East End Avenue,10028.0,1,7/13/15,N,N,A,A,N,N,N,N,NaN,40.774474,-73.945518,8.0,5.0,14401.0
1786,MANHATTAN,125 worth street,10013.0,1,12/19/20,A,N,A,A,A,N,N,N,NaN,40.715428,-74.002673,1.0,1.0,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52025,MANHATTAN,160 Madison Street,10002.0,1,10/21/20,N,N,N,A,N,N,N,N,NaN,40.712488,-73.991924,3.0,1.0,6.0
52464,MANHATTAN,310 East 46th Street,10017.0,1,10/7/20,N,N,N,A,N,N,N,N,NaN,40.752154,-73.969834,6.0,4.0,90.0
54722,MANHATTAN,305 East 40th Street,10016.0,1,4/29/21,N,N,A,A,N,N,N,N,NaN,40.748469,-73.972954,6.0,4.0,88.0
54869,BROOKLYN,760 Broadway,11206.0,1,6/12/18,N,N,A,A,N,N,N,N,NaN,40.700528,-73.941604,3.0,36.0,28501.0
55628,MANHATTAN,4 Sutton Place,10022.0,1,10/27/20,N,N,A,A,N,N,N,N,NaN,40.757512,-73.960576,6.0,5.0,10601.0

In [5]:
## 237 tanks have unacceptable internal or external structure
df.query("(INTERNAL_STRUCTURE=='A') or (EXTERNAL_STRUCTURE=='A')")

,BOROUGH,ADDRESS,ZIP,TANK_NUM,INSPECTION_DATE,INTERNAL_STRUCTURE,EXTERNAL_STRUCTURE,SEDIMENT,BIOLOGICAL_GROWTH,DEBRIS_INSECTS,RODENT_BIRD,COLIFORM,ECOLI,MEET_STANDARDS,LATITUDE,LONGITUDE,COMMUNITY_BOARD,COUNCIL_DISTRICT,CENSUS_TRACT
96,MANHATTAN,One One World Trade Center,10007.0,2,5/7/15,A,A,A,N,N,N,N,N,NaN,40.713099,-74.013062,1.0,1.0,13.0
188,MANHATTAN,15 Saint james Place,10038.0,1,7/2/19,N,A,N,N,N,N,N,N,NaN,40.711571,-73.999903,3.0,1.0,25.0
222,MANHATTAN,305 East 40th Street,10016.0,1,10/29/17,A,A,A,N,N,N,N,N,NaN,40.748469,-73.972954,6.0,4.0,88.0
439,MANHATTAN,100 Centre street,10013.0,2,11/28/23,N,A,N,N,N,N,N,N,NaN,40.716084,-74.001425,1.0,1.0,29.0
1161,MANHATTAN,160 Madison Street,10002.0,1,3/22/19,N,A,N,N,N,N,N,N,NaN,40.712488,-73.991924,3.0,1.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55085,BROOKLYN,345 Adams street,11201.0,1,12/5/24,A,N,N,N,N,N,N,N,NaN,40.693400,-73.988915,2.0,33.0,11.0
55117,MANHATTAN,506 Lenox Avenue,10037.0,2,7/28/18,A,A,N,N,N,N,N,N,NaN,40.814358,-73.940659,10.0,9.0,212.0
55122,BROOKLYN,345 adams street,11201.0,3,11/28/21,A,N,A,N,N,N,N,N,NaN,40.693400,-73.988915,2.0,33.0,11.0
55219,BROOKLYN,311 Patchen Avenue,11233.0,1,9/10/19,N,A,N,N,N,N,N,N,NaN,40.680567,-73.925559,3.0,41.0,381.0
55359,BROOKLYN,210 Joralemon street,11201.0,1,8/11/22,A,A,N,N,N,N,N,N,NaN,40.692459,-73.990491,2.0,33.0,9.0

In [6]:
## determine that Meet Standards column is unfilled/inaccurate

df.query("MEET_STANDARDS== 'N' or MEET_STANDARDS == ' '")

,BOROUGH,ADDRESS,ZIP,TANK_NUM,INSPECTION_DATE,INTERNAL_STRUCTURE,EXTERNAL_STRUCTURE,SEDIMENT,BIOLOGICAL_GROWTH,DEBRIS_INSECTS,RODENT_BIRD,COLIFORM,ECOLI,MEET_STANDARDS,LATITUDE,LONGITUDE,COMMUNITY_BOARD,COUNCIL_DISTRICT,CENSUS_TRACT
2658,QUEENS,34-27 34th St,11106.0,2,1/1/21,NaN,NaN,N,N,N,NaN,N,N,N,40.758027,-73.925263,1.0,26.0,57.0
15454,QUEENS,34-27 34th St,11106.0,2,1/1/21,NaN,NaN,N,N,N,NaN,N,N,N,40.758027,-73.925263,1.0,26.0,57.0
19849,MANHATTAN,101 BARCLAY STREET,10007.0,1,7/28/15,N,N,N,N,N,N,NaN,NaN,N,40.713767,-74.011925,1.0,1.0,21.0
23817,BRONX,100 Dreiser Loop,10475.0,1,2/19/23,A,A,N,N,N,N,NaN,NaN,N,40.878155,-73.828130,10.0,12.0,46201.0
24886,BRONX,100 Dreiser Loop,10475.0,1,10/31/22,A,A,N,N,N,N,NaN,NaN,N,40.878155,-73.828130,10.0,12.0,46201.0
28288,MANHATTAN,757 THIRD AVENUE,10017.0,1,5/8/15,N,N,N,N,N,N,NaN,NaN,N,40.754035,-73.972056,6.0,4.0,90.0
40835,QUEENS,34-27 34th St,11106.0,1,1/1/21,N,N,N,N,N,A,N,A,N,40.758027,-73.925263,1.0,26.0,57.0
42528,QUEENS,34-27 34th St,11106.0,1,1/1/21,NaN,NaN,NaN,NaN,NaN,NaN,N,A,N,40.758027,-73.925263,1.0,26.0,57.0
43057,QUEENS,34-27 34th St,11106.0,1,1/1/21,N,NaN,NaN,A,N,A,N,A,N,40.758027,-73.925263,1.0,26.0,57.0
46723,MANHATTAN,101 BARCLAY STREET,10007.0,2,7/28/15,N,N,N,N,N,N,NaN,NaN,N,40.713767,-74.011925,1.0,1.0,21.0
50111,QUEENS,34-27 34th St,11106.0,2,1/1/21,NaN,NaN,N,N,N,NaN,N,N,N,40.758027,-73.925263,1.0,26.0,57.0

In [7]:
df.query("(COLIFORM=='A') or (ECOLI=='A')")

,BOROUGH,ADDRESS,ZIP,TANK_NUM,INSPECTION_DATE,INTERNAL_STRUCTURE,EXTERNAL_STRUCTURE,SEDIMENT,BIOLOGICAL_GROWTH,DEBRIS_INSECTS,RODENT_BIRD,COLIFORM,ECOLI,MEET_STANDARDS,LATITUDE,LONGITUDE,COMMUNITY_BOARD,COUNCIL_DISTRICT,CENSUS_TRACT
3610,BROOKLYN,45 Monroe Street,11238.0,1,12/14/15,N,N,N,N,N,N,N,A,NaN,40.684695,-73.957367,3.0,35.0,229.0
3939,STATEN ISLAND,35 Hale Street,10307.0,1,3/21/00,N,N,N,N,N,N,A,A,NaN,40.514811,-74.236572,3.0,51.0,248.0
5221,MANHATTAN,111 Centre Street,10013.0,1,12/15/15,N,N,N,N,N,N,N,A,NaN,40.716317,-74.001277,1.0,1.0,31.0
8122,STATEN ISLAND,35 hale street,10307.0,1,2/4/22,N,N,N,NaN,N,NaN,A,A,NaN,40.514811,-74.236572,3.0,51.0,248.0
14813,STATEN ISLAND,35 Hale Street,10307.0,1,3/21/00,N,N,N,N,N,N,A,A,NaN,40.514811,-74.236572,3.0,51.0,248.0
15215,BROOKLYN,120 Schermerhorn Street,11201.0,1,12/20/15,N,N,N,N,N,N,N,A,NaN,40.690074,-73.988923,2.0,33.0,43.0
15859,STATEN ISLAND,35 hale street,10307.0,1,2/4/22,N,N,N,NaN,N,NaN,A,A,NaN,40.514811,-74.236572,3.0,51.0,248.0
17934,BRONX,1400 Pelham Parkway South,10461.0,4,2/22/17,N,N,A,N,A,N,A,N,NaN,40.857427,-73.847079,11.0,13.0,296.0
18055,BROOKLYN,180 Montague Street,11201.0,1,5/12/17,N,N,N,N,N,N,A,A,NaN,40.694079,-73.991756,2.0,33.0,9.0
20964,BROOKLYN,138 Willoughby Street,11201.0,1,6/24/24,N,N,A,N,N,N,A,N,NaN,40.692069,-73.983135,2.0,33.0,15.0
33245,STATEN ISLAND,35 Hale Street,10307.0,1,3/21/00,N,N,N,N,N,N,A,A,NaN,40.514811,-74.236572,3.0,51.0,248.0
37456,STATEN ISLAND,35 hale street,10307.0,1,2/4/22,N,N,N,NaN,N,NaN,A,A,NaN,40.514811,-74.236572,3.0,51.0,248.0
38770,MANHATTAN,80 Centre Street,10013.0,1,12/16/15,N,N,N,N,N,N,N,A,NaN,40.715447,-74.001890,1.0,1.0,29.0
40835,QUEENS,34-27 34th St,11106.0,1,1/1/21,N,N,N,N,N,A,N,A,N,40.758027,-73.925263,1.0,26.0,57.0
42528,QUEENS,34-27 34th St,11106.0,1,1/1/21,NaN,NaN,NaN,NaN,NaN,NaN,N,A,N,40.758027,-73.925263,1.0,26.0,57.0
43057,QUEENS,34-27 34th St,11106.0,1,1/1/21,N,NaN,NaN,A,N,A,N,A,N,40.758027,-73.925263,1.0,26.0,57.0
44519,QUEENS,45-30 36 Street,11101.0,2,7/25/18,N,N,A,N,A,N,A,N,NaN,40.743509,-73.929076,2.0,26.0,179.0
44612,BROOKLYN,62 HANSON PLACE,11217.0,1,8/23/23,N,N,N,N,N,N,A,N,NaN,40.685414,-73.975096,2.0,35.0,35.0
47247,BROOKLYN,180 Montague Street,11201.0,1,5/12/17,NaN,NaN,NaN,NaN,NaN,NaN,A,A,NaN,40.694079,-73.991756,2.0,33.0,9.0
47504,BRONX,1400 Pelham Parkway South,10461.0,3,2/22/17,N,N,A,N,A,N,A,N,NaN,40.857427,-73.847079,11.0,13.0,296.0
49100,MANHATTAN,114 West 70th Street,10023.0,1,11/12/15,N,N,N,N,N,N,A,A,NaN,40.776318,-73.980265,7.0,6.0,153.0
49520,STATEN ISLAND,35 hale street,10307.0,1,2/4/22,N,N,N,NaN,N,NaN,A,A,NaN,40.514811,-74.236572,3.0,51.0,248.0
49824,BROOKLYN,62 HANSON PLACE,11217.0,1,8/23/23,N,N,N,N,N,N,A,N,NaN,40.685414,-73.975096,2.0,35.0,35.0
50622,MANHATTAN,181 Convent Avenue,10031.0,2,12/27/24,N,N,A,N,N,N,A,N,NaN,40.819574,-73.949921,9.0,9.0,21703.0
52055,MANHATTAN,137 Centre Street,10013.0,1,12/18/15,N,N,N,N,N,N,N,A,NaN,40.717157,-74.000653,1.0,1.0,31.0

In [8]:
## 213 water tanks have insect debris
df.query("DEBRIS_INSECTS=='A'")

,BOROUGH,ADDRESS,ZIP,TANK_NUM,INSPECTION_DATE,INTERNAL_STRUCTURE,EXTERNAL_STRUCTURE,SEDIMENT,BIOLOGICAL_GROWTH,DEBRIS_INSECTS,RODENT_BIRD,COLIFORM,ECOLI,MEET_STANDARDS,LATITUDE,LONGITUDE,COMMUNITY_BOARD,COUNCIL_DISTRICT,CENSUS_TRACT
593,MANHATTAN,812 Fifth Avenue,10065.0,1,4/21/15,N,N,A,A,A,A,N,N,NaN,40.766378,-73.971459,8.0,4.0,11401.0
706,MANHATTAN,462 First Avenue,10016.0,3,8/26/17,N,N,A,N,A,N,N,N,NaN,40.739497,-73.976624,6.0,4.0,62.0
820,BROOKLYN,100 North Portland Avenue,11205.0,4,7/1/17,N,N,A,N,A,N,N,N,NaN,40.695268,-73.976232,2.0,35.0,2901.0
1550,MANHATTAN,225 Broadway,10007.0,4,12/14/15,N,N,N,N,A,N,N,N,NaN,40.711870,-74.008217,1.0,1.0,21.0
1604,BRONX,1010 East 178th Street,10460.0,1,8/15/19,N,N,N,N,A,N,N,N,NaN,40.841412,-73.880463,6.0,15.0,361.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54010,MANHATTAN,100 Centre Street,10013.0,2,5/6/22,N,A,A,N,A,N,N,N,NaN,40.716084,-74.001425,1.0,1.0,29.0
54285,MANHATTAN,100 Centre Street,10013.0,2,5/6/22,N,A,A,N,A,N,N,N,NaN,40.716084,-74.001425,1.0,1.0,29.0
54620,QUEENS,79-01 Broadway,11373.0,3,11/9/15,N,N,A,N,A,N,N,N,NaN,40.744416,-73.886097,4.0,25.0,267.0
55431,MANHATTAN,40-50 Amsterdam Avenue,10023.0,1,7/11/19,N,N,A,N,A,N,N,N,NaN,40.771703,-73.986685,7.0,6.0,151.0
55614,BROOKLYN,138 Willoughby Street,11201.0,4,6/20/22,N,N,A,N,A,N,N,N,NaN,40.692069,-73.983135,2.0,33.0,15.0

In [9]:
## 226 water tanks have rodent/bird, or insect debris
df.query("(RODENT_BIRD=='A') or (DEBRIS_INSECTS=='A')")

,BOROUGH,ADDRESS,ZIP,TANK_NUM,INSPECTION_DATE,INTERNAL_STRUCTURE,EXTERNAL_STRUCTURE,SEDIMENT,BIOLOGICAL_GROWTH,DEBRIS_INSECTS,RODENT_BIRD,COLIFORM,ECOLI,MEET_STANDARDS,LATITUDE,LONGITUDE,COMMUNITY_BOARD,COUNCIL_DISTRICT,CENSUS_TRACT
593,MANHATTAN,812 Fifth Avenue,10065.0,1,4/21/15,N,N,A,A,A,A,N,N,NaN,40.766378,-73.971459,8.0,4.0,11401.0
706,MANHATTAN,462 First Avenue,10016.0,3,8/26/17,N,N,A,N,A,N,N,N,NaN,40.739497,-73.976624,6.0,4.0,62.0
820,BROOKLYN,100 North Portland Avenue,11205.0,4,7/1/17,N,N,A,N,A,N,N,N,NaN,40.695268,-73.976232,2.0,35.0,2901.0
1550,MANHATTAN,225 Broadway,10007.0,4,12/14/15,N,N,N,N,A,N,N,N,NaN,40.711870,-74.008217,1.0,1.0,21.0
1604,BRONX,1010 East 178th Street,10460.0,1,8/15/19,N,N,N,N,A,N,N,N,NaN,40.841412,-73.880463,6.0,15.0,361.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54010,MANHATTAN,100 Centre Street,10013.0,2,5/6/22,N,A,A,N,A,N,N,N,NaN,40.716084,-74.001425,1.0,1.0,29.0
54285,MANHATTAN,100 Centre Street,10013.0,2,5/6/22,N,A,A,N,A,N,N,N,NaN,40.716084,-74.001425,1.0,1.0,29.0
54620,QUEENS,79-01 Broadway,11373.0,3,11/9/15,N,N,A,N,A,N,N,N,NaN,40.744416,-73.886097,4.0,25.0,267.0
55431,MANHATTAN,40-50 Amsterdam Avenue,10023.0,1,7/11/19,N,N,A,N,A,N,N,N,NaN,40.771703,-73.986685,7.0,6.0,151.0
55614,BROOKLYN,138 Willoughby Street,11201.0,4,6/20/22,N,N,A,N,A,N,N,N,NaN,40.692069,-73.983135,2.0,33.0,15.0

In [10]:
## 42 tanks have rodent or bird poop
df.query("RODENT_BIRD=='A'")

,BOROUGH,ADDRESS,ZIP,TANK_NUM,INSPECTION_DATE,INTERNAL_STRUCTURE,EXTERNAL_STRUCTURE,SEDIMENT,BIOLOGICAL_GROWTH,DEBRIS_INSECTS,RODENT_BIRD,COLIFORM,ECOLI,MEET_STANDARDS,LATITUDE,LONGITUDE,COMMUNITY_BOARD,COUNCIL_DISTRICT,CENSUS_TRACT
593,MANHATTAN,812 Fifth Avenue,10065.0,1,4/21/15,N,N,A,A,A,A,N,N,NaN,40.766378,-73.971459,8.0,4.0,11401.0
5113,BROOKLYN,198 Bond Street,11217.0,1,8/6/19,N,A,A,A,A,A,N,N,NaN,40.683171,-73.987413,6.0,33.0,71.0
7485,MANHATTAN,33 West 46th street,10036.0,1,10/3/15,A,A,A,A,A,A,N,N,NaN,40.756553,-73.980242,5.0,4.0,96.0
7521,BRONX,1118 Grand Concourse,10456.0,1,11/21/21,N,A,A,N,A,A,N,N,NaN,40.832232,-73.919655,4.0,16.0,18102.0
7648,MANHATTAN,1111 park ave,10128.0,1,7/1/15,N,N,A,A,A,A,N,N,NaN,40.782473,-73.955513,8.0,4.0,14802.0
9675,MANHATTAN,720 Park Avenue,10021.0,1,6/23/21,N,N,N,N,N,A,N,N,NaN,40.769950,-73.964681,8.0,4.0,130.0
11078,BROOKLYN,210 Joralemon Street,11201.0,2,11/28/20,A,A,A,N,A,A,N,N,NaN,40.692459,-73.990491,2.0,33.0,9.0
11368,MANHATTAN,1111 park ave,10128.0,2,7/1/15,N,N,A,A,A,A,N,N,NaN,40.782473,-73.955513,8.0,4.0,14802.0
13783,MANHATTAN,2971 Frederick Douglas Boulevard,10039.0,1,6/20/19,N,N,A,A,A,A,N,N,NaN,40.830297,-73.936456,10.0,9.0,24302.0
14679,MANHATTAN,15 West 56th Street,10019.0,1,2/11/21,N,N,A,N,A,A,N,N,NaN,40.762640,-73.975258,5.0,4.0,11201.0
15944,BROOKLYN,210 Joralemon Street,11201.0,3,11/28/20,A,A,A,N,A,A,N,N,NaN,40.692459,-73.990491,2.0,33.0,9.0
17254,BROOKLYN,426 Baltic Street,11217.0,1,8/6/19,N,A,A,A,A,A,N,N,NaN,40.683555,-73.988552,6.0,33.0,71.0
20014,MANHATTAN,730 Park Avenue,10021.0,1,8/17/17,N,N,A,A,A,A,N,N,NaN,40.770553,-73.964897,8.0,4.0,130.0
20751,MANHATTAN,1879 Madison Avenue,10035.0,1,9/19/18,N,N,N,N,N,A,N,N,NaN,40.803610,-73.942250,11.0,9.0,198.0
21384,BROOKLYN,451 Clarkson Avenue,11203.0,7,1/24/18,N,N,A,N,N,A,N,N,NaN,40.655760,-73.944602,9.0,40.0,808.0
21711,BRONX,1118 Grand Concourse,10456.0,1,11/21/20,N,A,A,N,A,A,N,N,NaN,40.832232,-73.919655,4.0,16.0,18102.0
22144,MANHATTAN,70 East 108th Street,10029.0,2,10/7/20,N,N,N,N,N,A,N,N,NaN,40.794429,-73.947434,11.0,8.0,17401.0
24936,MANHATTAN,520 12th Ave,10036.0,1,11/22/21,N,A,N,N,N,A,N,N,NaN,40.762316,-74.000036,4.0,3.0,129.0
27067,BROOKLYN,210 Joralemon Street,11201.0,1,11/28/20,A,A,A,N,A,A,N,N,NaN,40.692459,-73.990491,2.0,33.0,9.0
27669,MANHATTAN,1111 park ave,10128.0,4,7/1/15,N,N,A,A,A,A,N,N,NaN,40.782473,-73.955513,8.0,4.0,14802.0
28296,MANHATTAN,80 centre street,10013.0,1,12/19/20,A,A,A,A,A,A,N,N,NaN,40.715447,-74.001890,1.0,1.0,29.0
28396,BROOKLYN,2839 West 33rd Street,11224.0,1,8/14/19,N,N,A,A,A,A,N,N,NaN,40.576306,-73.999849,13.0,47.0,328.0
28586,MANHATTAN,160 Madison Street,10002.0,2,10/22/20,N,N,N,N,N,A,N,N,NaN,40.712488,-73.991924,3.0,1.0,6.0
31358,MANHATTAN,12 West 96th Street,10025.0,1,8/9/17,N,N,A,N,N,A,N,N,NaN,40.791880,-73.965222,7.0,6.0,181.0
31616,MANHATTAN,125 worth street,10013.0,2,12/19/20,A,N,A,A,A,A,N,N,NaN,40.715428,-74.002673,1.0,1.0,31.0
32752,MANHATTAN,80-90 Baruch Drive,10002.0,2,5/21/19,A,N,A,N,A,A,N,N,NaN,40.717693,-73.978081,3.0,2.0,1002.0
34146,MANHATTAN,720 Park Avenue,10021.0,1,6/23/21,N,N,N,N,N,A,N,N,NaN,40.769950,-73.964681,8.0,4.0,130.0
37397,MANHATTAN,1901 First Avenue,10029.0,1,1/28/16,N,N,N,N,N,A,N,N,NaN,40.784557,-73.943780,11.0,8.0,15602.0
39935,MANHATTAN,201 East 80th Street,10075.0,1,7/12/17,N,N,A,N,A,A,N,N,NaN,40.774832,-73.956454,8.0,5.0,138.0
40835,QUEENS,34-27 34th St,11106.0,1,1/1/21,N,N,N,N,N,A,N,A,N,40.758027,-73.925263,1.0,26.0,57.0
41302,MANHATTAN,31 Chambers street,10007.0,2,12/10/21,A,A,A,A,A,A,NaN,NaN,NaN,40.713402,-74.004635,1.0,1.0,31.0
41758,MANHATTAN,31 Chambers street,10007.0,2,11/21/20,A,A,A,A,A,A,N,N,NaN,40.713402,-74.004635,1.0,1.0,31.0
41864,MANHATTAN,70 East 108th Street,10029.0,1,10/6/20,N,N,N,N,N,A,N,N,NaN,40.794429,-73.947434,11.0,8.0,17401.0
43057,QUEENS,34-27 34th St,11106.0,1,1/1/21,N,NaN,NaN,A,N,A,N,A,N,40.758027,-73.925263,1.0,26.0,57.0
44674,MANHATTAN,17E 48TH STREET,10017.0,1,7/30/15,A,A,A,A,A,A,N,N,NaN,NaN,NaN,NaN,NaN,NaN
45409,MANHATTAN,38W 48TH STREET,10036.0,1,7/29/15,A,A,A,A,A,A,N,N,NaN,NaN,NaN,NaN,NaN,NaN
47494,MANHATTAN,1111 park ave,10128.0,3,7/1/15,N,N,A,A,A,A,N,N,NaN,40.782473,-73.955513,8.0,4.0,14802.0
48033,MANHATTAN,1405 Park Avenue,10029.0,1,5/2/19,N,N,A,A,A,A,N,N,NaN,40.791797,-73.948703,11.0,8.0,166.0
48131,BROOKLYN,2007 Surf Avenue,11224.0,1,6/27/19,N,A,N,N,N,A,N,N,NaN,40.574792,-73.986991,13.0,47.0,326.0
50664,BRONX,1118 Grand Concourse,10456.0,1,11/21/21,N,A,A,N,A,A,NaN,NaN,NaN,40.832232,-73.919655,4.0,16.0,18102.0
51515,MANHATTAN,31 Chambers street,10007.0,1,12/10/21,A,A,A,A,A,A,NaN,NaN,NaN,40.713402,-74.004635,1.0,1.0,31.0
51924,BROOKLYN,2940 West 31st Street,11224.0,1,8/14/19,N,A,A,A,A,A,N,N,NaN,40.574480,-73.997372,13.0,47.0,342.0

In [ ]:
bacteriadf.count()

In [ ]:
dnmeet = df.query("MEET_STANDARDS == 'N'")

In [ ]:
dnmeet.count()

In [ ]:
df.count()

In [ ]:
df["INSPECTION_DATE"] = pd.to_datetime(df["INSPECTION_DATE"], format="%m/%d/%Y")

In [ ]:
start_date = pd.Timestamp("2020-01-01")
end_date = pd.Timestamp("2025-04-08")

In [ ]:
df["INSPECTION_DATE"] = pd.to_datetime(df["INSPECTION_DATE"])

# filter the dataframe with the dates
df20tonow = df[(df["INSPECTION_DATE"] >= start_date) & (df["INSPECTION_DATE"] <= end_date)]

In [ ]:
df20tonow.to_csv("WaterTankData_CLEANED_2020toPresent.csv", index=False)

In [ ]:
## creating a new dataset for google map creation. using alltime data, combining rodent + insect debris violations, combining structural violations, combining coliform and ecoli violations
dfALLTIME = pd.read_csv("WaterTankData_CLEANED_ALLTIME.csv")

In [ ]:
dirtytanksalltime = dfALLTIME.query("(RODENT_BIRD=='A') or (DEBRIS_INSECTS=='A') or (COLIFORM=='A') or (ECOLI=='A') or (BIOLOGICAL_GROWTH == 'A') or (INTERNAL_STRUCTURE=='A') or (EXTERNAL_STRUCTURE=='A')")

In [ ]:
start_date = pd.Timestamp("2020-01-01")
end_date = pd.Timestamp("2025-04-08")
dirtytanksalltime["INSPECTION_DATE"] = pd.to_datetime(dirtytanksalltime["INSPECTION_DATE"])
dt2020tonow = dirtytanksalltime[(dirtytanksalltime["INSPECTION_DATE"] >= start_date) & (dirtytanksalltime["INSPECTION_DATE"] <= end_date)]

In [ ]:
dt2020tonow.to_csv("Tanks_with_one_or_more_violations_2020_to_present.csv")